body {
	background-image: url("images/christmas.jpg");
	background-repeat: repeat-y;
	background-color: #c0cce2;
}
#heading-one {
	font-size: 42px;
	font-family: Agency FB;
	color: #5d6470;
	text-align: left;
	margin-bottom: -10px;
	letter-spacing: 2px;
	width: 55%;
}
#heading-three {
	font-family: Agency FB;
	font-size: 22px;
}
#logo {
	margin-top: -10px;
	margin-left: 11px;
	width: 58px;
	height: 58px;
	z-index: -1;
	float: left;
}
#shop_cart {
	width: 38px;
	height: 33px;
	margin-top: 9px;
	margin-right: 14px;
	margin-left: 6px;
}
#time {
	font-size: 16px;
	text-align: left;
	padding: 4px 10px;
	margin-bottom: 10px;
}
#welcome {
	margin-top: 15px;
	margin-right: 15px;
	margin-left: 5px;
}
#welcome p {
	font-size: 16px;
	font-family: Cambria;
	color: #5d6470;
}
.active a {

}
#logItem a:hover {
	background-color: lightgreen;
	transition-duration: 0.6s;
	color: black;
}
#menuItem a:hover {
	background-color: lightgreen;
	transition-duration: 0.6s;
	color: black;
}
#listHome a {
	margin-left: -15px;
}
#listHome a:hover {
	background-color: lightgreen;
	transition-duration: 0.6s;
	color: black;
}
#container {
	border-radius: 4px;
	margin: auto;
	background-color: rgba(213,222,239,0.6);
	/*width: 1730px;*/
	height: 1200px;
}
#text-info {
	font-family: Agency FB;
	font-size: 18px;
}
#search {
	width: 500px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 6px;
	font-size: 16px;
	background-image: url('images/search.png');
	background-position: 9px 6px;
	background-repeat: no-repeat;
	padding: 8px 16px 8px 36px;
	margin-top: 8px;
}
